@use 'sass:math';
@use 'sass:map';

@use 'abstracts' as *;

@mixin default($className: 'btn01') {
  .c-#{$className} {
    display: inline-block;
    line-height: 1;
    text-align: center;
  }

  .c-#{$className}__inner {
    position: relative;
    z-index: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 162px;
    min-height: 50px;
    padding: 15px 15px 15px 7px;
    color: #fff;
    cursor: pointer;
    background-color: var(--color-primary-500);
    border: solid 1px currentColor;
    border-radius: 6px;
    transition: 0.3s;
    &:hover {
      color: var(--color-primary-500);
      background-color: #fff;
      .c-#{$className}__icon {
        transform: translateY(-50%) translateX(4px);
      }
    }
  }

  .c-#{$className}__icon {
    position: absolute;
    top: 50%;
    right: 15px;
    z-index: 0;
    transition: transform 0.3s;
    transform: translateY(-50%);
    &::after {
      display: inline-block;
      width: 7px;
      height: 12px;
      content: '';
      background-color: currentColor;
      @include mask-icon('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14"><path d="M6.29293 7.00004.646484 1.35359 1.35359.646484 7.70714 7.00004 1.35359 13.3536l-.707106-.7071L6.29293 7.00004Z" /></svg>');
    }
  }
}
