@use 'sass:math';
@use 'sass:map';

@use 'abstracts' as *;

@mixin default($className: 'icon') {
  .c-#{$className} {
    aspect-ratio: 1 / 1;
    transition: 0.3s;

    &::before {
      display: block;
      width: rem(16px);
      height: rem(16px);
      content: '';
      background-color: currentColor;
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: contain;
    }

    &--sm::before {
      width: rem(14px);
      height: rem(14px);
    }

    &--md::before {
      width: rem(20px);
      height: rem(20px);
    }

    &--lg::before {
      width: rem(24px);
      height: rem(24px);
    }

    &--x::before {
      mask-image: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M12.6005.769043h2.4533L9.69384 6.89566l6.30586 8.33524h-4.9372L7.19588 10.175l-4.42526 5.0559H.315995L6.04924 8.67765 0 .76971h5.06259l3.49527 4.6213L12.6005.769043ZM11.7398 13.7629h1.3593L4.32393 2.16037H2.86529L11.7398 13.7629Z"/></svg>');
    }

    &--instagram::before {
      mask-image: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M4.68667.056011c-.85119.0401333-1.43245.176-1.94065.375599-.52586.204999-.97165.479999-1.41518.92513-.443462.44513-.716659.8912-.920124 1.418-.196931.5092-.3303958 1.09099-.3679954 1.94266-.0375996.85166-.04593284 1.12546-.04173288 3.29799C.005121 10.1878.0147209 10.4601.0559871 11.3136c.0406662.851.1759979 1.4321.3756629 1.9404.205331.526.479994.9716.92532 1.4152.44526.4437.89099.7162 1.41899.92.50879.1967 1.09072.3308 1.94224.368.85153.0374 1.12559.046 3.29743.0418 2.17187-.0041 2.44527-.0138 3.29847-.0542.8534-.0405 1.4313-.1768 1.9399-.3756.5259-.2057.9718-.48 1.4152-.9254.4433-.4454.7163-.8918.9196-1.4189.1971-.5088.3311-1.0907.368-1.9416.0373-.8539.0461-1.1265.042-3.29864-.0042-2.1722-.014-2.44453-.0545-3.29766-.0404-.85313-.176-1.43246-.3755-1.94113-.2056-.52593-.48-.9712-.925-1.4152-.4452-.443995-.892-.716794-1.4188-.91966-.5092-.196999-1.0907-.331199-1.9422-.3679989-.8515-.03679993-1.1256-.04633323-3.29823-.04206658C5.81192.00507785 5.53993.0144112 4.68667.056011ZM4.78013 14.518c-.77999-.0339-1.20352-.1635-1.48578-.272-.37373-.144-.63999-.318-.92126-.5966-.28133-.2786-.45406-.5458-.59999-.9187-.1096-.2823-.2416-.7053-.27806-1.4853-.03967-.843-.048-1.0962-.05267-3.23201-.00467-2.1358.00353-2.38866.04047-3.23199.03333-.77933.16373-1.20333.27199-1.48546.144-.3742.31747-.64.59666-.92107.2792-.28113.5456-.45426.91886-.6002.282-.11006.70499-.24093 1.48465-.27806.84366-.04 1.09646-.048 3.23197-.05267 2.13553-.00467 2.38893.00333 3.23293.04053.7794.03387 1.2035.163 1.4853.272.3739.144.64.31694.9211.59667.2811.2796.4544.54506.6003.91913.1102.28113.2412.704.278 1.48419.0401.84367.0492 1.09667.053 3.232.0039 2.13534-.0036 2.38894-.0406 3.23194-.034.78-.1634 1.2037-.272 1.4863-.144.3736-.3176.64-.597.9209-.2793.281-.5454.4541-.9188.6-.2816.11-.7051.2412-1.4841.2783-.8438.0397-1.0966.048-3.23287.0527-2.13631.0046-2.38844-.004-3.2321-.0406ZM11.3019 3.72427c.0003.18988.0569.37541.1627.53311.1057.15771.2559.2805.4314.35286.1756.07235.3687.09102.5549.05363.1861-.03738.357-.12914.491-.26366.1341-.13452.2252-.30576.2619-.49207.0366-.18631.0172-.37932-.0558-.5546-.073-.17529-.1963-.32499-.3544-.43016-.1581-.10518-.3439-.16111-.5338-.16071-.2545.00053-.4984.10213-.678.28245-.1797.18032-.2804.42461-.2799.67915ZM3.89228 8.00799c.00446 2.26881 1.84704 4.10381 4.11528 4.09951 2.26834-.0043 4.10464-1.8467 4.10034-4.11551-.0043-2.26879-1.8473-4.10432-4.11594-4.09986-2.26864.00447-4.10395 1.84733-4.09968 4.11586Zm1.44098-.00287c-.00104-.52741.15434-1.04328.44648-1.48239.29215-.43911.70794-.78172 1.1948-.98452.48686-.20279 1.02292-.25666 1.5404-.1548.51747.10187.99312.3549 1.3668.72709.37366.3722.62856.84684.73246 1.36391.104.51708.0522 1.05335-.1486 1.54102-.2009.48767-.54184.90482-.97978 1.19867-.43793.2939-.95318.4514-1.48059.4524-.3502.0008-.69712-.0675-1.02094-.2009-.32382-.1333-.6182-.3292-.86632-.5763-.24812-.24715-.44513-.54074-.57977-.86403-.13465-.32329-.20428-.66994-.20494-1.02015Z"/></svg>');
    }

    &--youtube::before {
      mask-image: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M15.6641 4.12491c-.0904-.34048-.2686-.65124-.5169-.90115-.2483-.24991-.5579-.43021-.8977-.52284-1.2474-.33666-6.25061-.33666-6.25061-.33666s-5.00325 0-6.25123.33666c-.33972.09279-.64912.27316-.897265.52305-.24814.2499-.426317.56057-.51671.90094-.33466156 1.25599-.33466156 3.87597-.33466156 3.87597s0 2.62002.33466156 3.87602c.090389.3404.268646.6512.516919.9011.248276.2499.557846.4302.897726.5228 1.24731.3367 6.25056.3367 6.25056.3367s5.00321 0 6.25121-.3367c.3399-.0925.6495-.2728.8978-.5227.2483-.2499.4265-.5607.5169-.9012.334-1.256.334-3.87602.334-3.87602s0-2.61998-.3347-3.87597ZM6.36225 10.3795V5.62223l4.18195 2.37865-4.18195 2.37862Z"/></svg>');
    }

    &--youtube-music::before {
      mask-image: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M7.99889 0C3.58297 0-.00097656 3.58397-.00097656 7.99994c0 4.41596 3.58394656 7.99996 7.99986656 7.99996 4.41591 0 7.99991-3.584 7.99991-7.99996C15.9988 3.58397 12.4148 0 7.99889 0Zm0 12.7359c-2.61595 0-4.73592-2.12-4.73592-4.73596 0-2.61598 2.11997-4.73596 4.73592-4.73596 2.61601 0 4.73591 2.11998 4.73591 4.73596 0 2.61596-2.1199 4.73596-4.73591 4.73596Zm0-8.88793c-2.28796 0-4.15193 1.86399-4.15193 4.15197 0 2.28796 1.86397 4.15196 4.15193 4.15196 2.28801 0 4.15191-1.864 4.15191-4.15196 0-2.28798-1.8639-4.15197-4.15191-4.15197ZM6.45492 10.3599V5.63996l4.08798 2.35998-4.08798 2.35996Z"/></svg>');
    }
  }

  a.c-#{$className} {
    &:hover {
      color: var(--color-primary);
    }
  }
}
