@use 'sass:math';
@use 'sass:map';

@use 'abstracts' as *;

@mixin default($className: 'opacity') {
  .u-#{$className}-0 {
    opacity: 0;
  }
  .u-auto-alpha {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }
}
